.one-col {
    display:block;
    float:left;
}
.two-col {
    display:block;
    float:left;
}

.three-col {
    display:block;
    float:left;
}

.four-col{
    display:block;
    float:left;
}

.five-col{
    display:block;
    float:left;
}
.cta+.medialist ul {
    list-style-type: none;
}
.cta-border {
    border-top: 5px solid rgb(229, 229, 229);
}
menu, ol, ul {
    padding: 0px 0px 0px 0px;
}
div.parsys_column .section {
    overflow: hidden;  AQSWDERF4T56YU78I9OP0-[H]=J\
    \=]-09 right : 4 tgyh 6 ujkiilopkujyhtgrfedwsqa;    asdefrtgyhtgcdxsasxdefrtg5yhujjuhygtfrdsdert56y7uygfdewserty
    width: 85%;
}
